.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f1f5;
  padding: 150px 40px;
  flex-direction: column;
  min-height: 700px;
}

.first {
  margin: 0 auto;
  text-align: center;
}

h1, h2, p  {
  margin: 40px;
  text-transform: uppercase;
  color: #3b3b3b;
}

