

.mainCards {
  display: flex;
  flex-direction: column;

}

.cardsItem {
  display: flex;
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
  align-items: center;
  background-color: #e8e8e8;
}

img {
  width: 300px;
  border-radius: 10px;
}

span {
  color: red;
  font-size: 30px;
}

button {
  padding: 8px 55px;

}
