<div class="child container">
  <h3>Детская одежда\обувь</h3>

  <p>Информация о составе материала всегда присутствует на ярлыке, который находится,обычно, на изнаночной стороне изделия.</p>
  <div *ngFor="let str of allChild" class="mainCard">
    <div class="mainCardDiv">
      <div>
        <h3>{{str.name | uppercase}}</h3>
        <p>2022</p>
      </div>
      <div class="imgSize">
        <img src="{{str.url }}" alt="{{str.name}}">
      </div>

      <div class="pricePar">
        <p>от {{str.price}} грн</p>
        <span>В наличии</span>
      </div>
      <button type="button" class="btn">Купить </button>

    </div>

  </div>
</div>
