<header>
  <div class="headerMain">
    <div class="container flex headerMainTwo">
      <div class="logo">
        <a routerLink="/">
          <img src="./assets/img/Cruser300.webp" alt="logo">
        </a>
      </div>

      <nav>

        <a routerLink="/" routerLinkActive="active one" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="product" routerLinkActive="active">Product</a>
        <a routerLink="contact" routerLinkActive="active">Contacts</a>
        <a routerLink="basket" routerLinkActive="active">Basket</a>
      </nav>


    </div>
  </div>

</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

