<div class="cloth container">
  <h3>Только лучшие товары</h3>

  <p>Информация о составе материала всегда присутствует на ярлыке, который находится,обычно, на изнаночной стороне изделия.</p>
  <div *ngFor="let str of allCloth" class="mainCard">
    <div class="mainCardDiv">
      <div>
        <h3>{{str.name | uppercase}}</h3>
        <p>2022</p>
      </div>
      <div class="imgSize">
        <img src="{{str.url }}" alt="{{str.name}}">
      </div>

      <a href="{{str.link}}">
        <button type="button" class="btn">Перейти</button>
      </a>
    </div>

  </div>
</div>
