<div class="mainFood container">
  <h2>Самое лучшее и вкусное только для Вас! </h2>
  <div class="infoFood">
    <h3>Почему полезны фрукты?</h3>
    <p>Чтобы питаться правильно, необходимо добавлять в рацион натуральные продукты с высоким содержанием витаминов и микроэлементов. Прежде всего, это фрукты, в которых содержится много клетчатки. Она улучшает пищеварение, отчего происходит общее улучшение состояния организма. Повышается иммунитет, снижается вес, выводятся токсины.</p>
    <p>Некоторые ученые считают, что самые полезные фрукты — это те, которые растут в климатической зоне проживания человека. Другие настаивают, что каждый из более чем 2 000 видов плодов заслуживает внимания. Абсолютно во всех фруктах есть полезные вещества. А если постоянно чередовать их, то организм получит все необходимые витамины и минералы.</p>
    <h3>Почему нужно баловать себя сладким?</h3>
    <p>Все мы в большей или меньшей степени сладкоежки, и важно помнить, что любовь к сладкому – это не вредная привычка, а биологическая потребность, считают специалисты. Глюкоза являются топливом, необходимым для нормальной работы всех органов. Кроме этого, она играет важную роль в выработке серотонина, который отвечает за хорошее настроение. Поэтому не отказывай себе в удовольствии – только помните, все хорошо в меру.</p>
    <p>В горьком шоколаде содержится минимальное количества сахара, а в какао присутствуют вещества, которые повышают настроение, стимулируют память и прибавляют энергии. Маленький кусочек шоколада (10-15 г в день) разрешается съесть даже тем, кто сидит на строгой диете. </p>
  </div>

  <div class="food">
    <div *ngFor="let str of listFood" class="mainCard">
      <div class="mainCardDiv">
        <div>
          <h3>{{str.name | uppercase}}</h3>

        </div>
        <div class="imgSize">

          <img src="{{str.url }}" alt="{{str.name}}">
        </div>

        <a href="{{str.link}}">
          <button type="button" class="btn">Перейти</button>
        </a>

      </div>

    </div>
  </div>


</div>
