<div class="mainHeader container">
  <div class="logo">
    <a href="#">
      <img src="assets/img/logo.png" alt="logo">
    </a>
  </div>

  <div class="mainNav">
    <h2>ТОВАРЫ ДЛЯ ВСЕЙ СЕМЬИ</h2>
  </div>

</div>
<div class="content ">
  <div class="tabs container">
    <nav class="tabs_items">
      <a href="#tab_01" class="tabs_item"><span>Одежда</span></a>
      <a href="#tab_02" class="tabs_item"><span>Игрушки</span></a>
      <a href="#tab_03" class="tabs_item"><span>Продукты</span></a>
    </nav>
    <div class="tabs_body">
      <div id="tab_01" class="tabs_block">
        <a href="clothes">Одежда</a>
        <br>
        <a href="female">Женская</a>
        <a href="male">Мужская</a>
        <a href="child">Детская</a>
         </div>

      <div id="tab_02" class="tabs_block">
        <a href="toys">Игрушки</a>
      </div>

      <div id="tab_03" class="tabs_block">
        <a href="food">Питание</a>
        <br>
        <a href="fruit">Фрукты</a>
        <a href="candy">Конфеты</a>
        <a href="cookie">Печенье</a>
        <a href="juice">Фреш</a>
       </div>
    </div>

  </div>
</div>

