div {
  background-color: #f0f1f5;
  padding: 40px;
}

button {
  background: #b7d000;
  color: white;
  padding: 5px 25px;
  border: none;
  font-size: 18px;
  margin-top: 35px;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #878787;
  color: #123100;

}

p {
  margin: 20px 0;
}


